@charset "utf-8";

@media screen and (max-width:1440px) {
    .smth {
        padding: 50px 100px;
    }
    .sm {
        font-size: 7em;
    }
    .shootf{
        margin: 0 0 0 400px;
        width: 65%;
    }
    .camslaid {
        width: 700px;
        height: 400px;
        margin: 280px 0 0 350px;
    }
    .mySwiper{
        margin: -10px;
    }
    .arow-next{
        width: 59px;
        height: 59px;
        top: 221px ; right: -232px;
    }
    .arow-prev{
        width: 59px;
        height: 59px;
        top: 221px ; left: 737px;
    }
    .in{
        width: 70px;
        height: 70px;
        top: 8px ; left: 751px;
    }
    .last img{
        width: 70px;
        height: 70px;
        top: 8px ; left: 848px;
    }
    .taitle{
        font-size: 5rem;
        margin: 20px 0 0 50px;
    }
    .mypoto{
        margin: 50px 0 0 100px;
    }
    .mypoto.on{
        width: 25%;
    }
    .career{
        line-height: 40px;
        font-size: 1.5rem;
        margin: 30px 0 0 200px;
    }
    .ability{
        width: 40%;
        height: 100px;
        bottom: 50px; right: 180px;
        justify-content: space-between;
    }
    .abilitylogo{
        width: 55px;
        height: 55px;
    }
    video{
        margin: 120px 50px;
        width: 80%;
        height: 80%;
    }
    .explanation .markone{
        width: 45px;
        top: 20%; left: -45px;
    }
    .conti .marktoo{
        width: 45px;
        top: 45%; left: -45px;
    }
    .conti.on{
        right: -140px;
    }
    .source .markthree{
        width: 45px;
        top: 70%; left: -45px;
    }
    .neimcade{
        width: 35%;
        margin-left: 250px;
    }
    .thankyou{
        font-size: 5rem;
        line-height: 130px;
    }
    .neim{
        font-size: 1.8rem;
        line-height: 80px;
    }
    .lastimg{
        width: 50%;
    }
}